{% extends 'base.html' %}
{% block content %}

<section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="https://scontent-arn2-2.xx.fbcdn.net/v/t1.0-9/17426178_1284815168221007_1067386608435132898_n.jpg?_nc_cat=108&_nc_sid=8bfeb9&_nc_ohc=rnmomCp2a-QAX-zxSWe&_nc_ht=scontent-arn2-2.xx&oh=7e888d596d2308b4506e6edb90e40471&oe=5F4C3166" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span style="color: red;" class="section-heading-upper">Global Fire Center</span>
                <span class="section-heading-lower">Welcome to Isaiah 61 Ministry Center</span>
              </h2>
              <p>Isaiah 61 Ministry is a Church that is focused on what is important to Jesus: 
                 Preaching the Word of God, Healing, Deliverance, Prophetic Ministry
                 and bringing people into the Knowledge and Fullness of the Holy Spirit. 
                 There is coming soon an end-time revival and harvest such as the world has never seen before.  
                 Isaiah 61 Ministry is commissioned to raise up believers, mature and equipped, to bring in this harvest..</p>
              <p class="mb-0">Isaiah 61 Ministry is very radical for Jesus. 
                 This is not "church as usual".  
                 The worship at Isaiah 61 brings all who are hungry into the presence of God. 
                 The friendships made are real and lasting. 
                 We are not casual about Jesus or each other. </p>
              <p class="mb-0">If you come to Isaiah 61 Ministry Center, you will not leave the same. 
                 God has a way of touching people here that causes, healing, wholeness, joy and hope.  
                 At Isaiah 61 Ministry Center you will find a group of loving and passionate
                 Christians who will help you become all that you can be in Jesus Christ.
                 And if you catch the fire and vision, you are welcome to go to the nations with us to bring in the end-time harvest! </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<section class="container">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://scontent-arn2-2.xx.fbcdn.net/v/t1.0-9/64210824_2212781452091036_8284581624348147712_n.jpg?_nc_cat=105&_nc_sid=8bfeb9&_nc_ohc=uMwXh5UtxI8AX9jH_PL&_nc_ht=scontent-arn2-2.xx&oh=cfdecbca33ccf828d3ee71a8e9baba68&oe=5F4D4728" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/62102176_2201070489928799_8777125110894034944_n.jpg?_nc_cat=107&_nc_sid=8bfeb9&_nc_ohc=hE-qX6Mi34oAX_xSOla&_nc_ht=scontent-arn2-1.xx&oh=e1aa6dd7bd632a301344520596a90693&oe=5F4C5E47" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/62148569_2201070553262126_8991427310196359168_n.jpg?_nc_cat=109&_nc_sid=8bfeb9&_nc_ohc=X78DRbYK-FUAX8TpKhb&_nc_ht=scontent-arn2-1.xx&oh=099edda9983c808c5c3511eabe13877e&oe=5F4ED338" alt="Third slide">
    </div>
     <div class="carousel-item">
      <img class="d-block w-100" src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/87624927_2723904317645411_4807948414488674304_n.jpg?_nc_cat=109&_nc_sid=09cbfe&_nc_ohc=KRn7iEKCi6kAX84joS9&_nc_ht=scontent-arn2-1.xx&oh=34b35ab0b62d2c5fc9cd26aa04be84e0&oe=5F50236F" alt="Second slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</section>

<section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">What You Need to know</span>
              <span class="section-heading-lower">About Isaiah 61 Ministry Nigeria</span>
            </h2>
            <p class="mb-0">In the year 2013 around November 18( Which is the birthday of our spiritual mother)  Isaiah 61 ministry Nigeria was birthed in Aladja town in Udu local government in Delta State.  Papa Gary and Mama Jean (our spiritual parents)  After much prayers were moved by passion for souls to come to Africa for mission work.  They discussed this with their friend/partner (Apostles Isaiah $ Christiana Kadiri). With their support and encouragement,  Isaiah 61 ministry started her first branch in Africa  at Aladja where Isaac and Debbie became the pastors over the new work .  They moved down to Aladja and faced the mission work fully from this time to January 2014 when Our spiritual parents (Papa Gary and Mama Jean)  Came to commission the new work and ordained Isaac and Debbie into the Apostolic office to grow, train up and expand the church in Nigeria.  Where there is a will, God will always make a way.  
                            This is the beginning of a wild passion that drove Isaac and Debbie to opening branches,  training hands and sending them to pastor these branches. </p>
            <p class="mb-0">Pastor Ransom Robert who was the first worker/pastor that followed us down from Benin to Aladja to support  in the mission field was trained up for Kingdom assignment.  While he was still in school at Federal polytechnic Idah in Kogi state,  he caught the vision for a branch  of the ministry to be started up.  After praying through. Apostles Isaac and Debbie approved the request for a branch in Idah. Preparations began and to the glory of God we mobilised the brethren for evangelical work and traveled down to Idah(about 6-7hrs from Aladja) for a four day weekend crusade and revival program.  Heaven backed us up and we started the branch in Idah where Pastors Ransom and Joy pastor now.  </p>
            <p class="mb-0">Our burden is to bring into the kingdom  about two billion souls for Jesus.  All we care about is that the Lord  will gain the souls He died for and at the end of it all,  the Glory and the credit will be His forever. 
                            We are human vessels called and ordained by God to pioneer this vision.  We can't do it on our own, we depend solely on the Lord for Grace,  wisdom and the needed anointing for this global assignment. 
                            One receives the vision but great is the company of people who publish it.  If your heart is truly crying for genuine revival for  endtime harvest of souls and the liberation of nations from satanic destruction join us today in this revival flight. We are ready to love the Lord  and serve Him with all our hearts,  resources,  talents and special abilities all for His glory and the interest of His kingdom.  </p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}