{% extends 'base.html' %}
{% block content %}
 <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/87519315_3097880553564057_3009903919871557632_n.jpg?_nc_cat=107&_nc_sid=730e14&_nc_ohc=Bzy4IaGr_AwAX9PW0hw&_nc_ht=scontent-arn2-1.xx&oh=5e06c77fe2317ddcec04b477121e8b85&oe=5F46E7C6" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span style="color: red;" class="section-heading-upper">Isaiah 61:1 (nkjv)</span>
           <!-- <span class="section-heading-lower">Worth Drinking</span>-->
          </h2>
          <p class="mb-3">"The Spirit of the Sovereign Lord is on me,
                          because the Lord has anointed me
                          to proclaim good news to the poor.
                          He has sent me to bind up the brokenhearted,
                          to proclaim freedom for the captives
                          and release from darkness for the prisoners"
          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="https://www.kingjamesbibleonline.org/Isaiah-Chapter-61/" target="_blank">Read More!</a>
          </div>
        </div>
       </div>
     </div>
  </section>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span style="color: red;" class="section-heading-upper">Our Promise</span>
              <span style="color: red;" class="section-heading-lower">To You</span>
            </h2>
            <p class="mb-0"><i>Jesus came to set the captives free.
                            Many Christians are held in bondage by bitterness, rejection, fear, depression,
                            addictions and other spiritual issues. Some are afflicted with diseases and infirmities.
                            Some have broken relationships and broken hearts. Some have lost their joy and their hope.
                            Many are not living the abundant life promised in the Word of God.</i></p>
            <p class="mb-0"><i>If only you come to Him according to <em>"Matthew 11:28"</em>, He shall give you rest!</i></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/969651_612670015418469_295292625_n.jpg?_nc_cat=111&_nc_sid=174925&_nc_ohc=BAMQhvShWjUAX_arrZ2&_nc_ht=scontent-arn2-1.xx&oh=b30914e05bacd79b1c4777361c397325&oe=5F45313C" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span style="color: red;" class="section-heading-upper">Welcome to Global fire Center Nigeria</span>
          </h2>
          <p class="mb-3">Isaiah 61 Ministry currently has six churches in Nigeria, West Africa
                          Our first church was built in Aladja, Nigeria in 2013. 
                          Isaac Kadiri was appointed pastor when this first church was opened. 
                          Since 2013, Apostle Isaac has planted five additional churches in the cities of: 
                          Idah, Ughelli South, Benin City and Ewatto.
                          Many souls have been impacted by the ministry of Isaiah 61 in Nigeria
                          and we know the best is yet to come!
          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="https://www.isaiah61-ministry.com/global-ministry.html" target="_blank">Visit Us Today!</a>
          </div>
        </div>
       </div>
     </div>
  </section>

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/117301555_10222754626355344_3611864747469510666_n.jpg?_nc_cat=103&_nc_sid=8bfeb9&_nc_ohc=9LJpvL_Fl-oAX8mA6Ok&_nc_ht=scontent-arn2-1.xx&oh=5aba201dfa6696dfc4d1b03751828ae5&oe=5F518032" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Fresh Coffee</span>
            <span class="section-heading-lower">Worth Drinking</span>
          </h2>
          <p class="mb-3">Every cup of our quality artisan coffee starts with locally sourced, hand picked ingredients. Once you try it, our coffee will be a blissful addition to your everyday morning routine - we guarantee it!
          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="#">Visit Us Today!</a>
          </div>
        </div>
       </div>
     </div>
  </section>
  
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Our Promise</span>
              <span class="section-heading-lower">To You</span>
            </h2>
            <p class="mb-0">When you walk into our shop to start your day, we are dedicated to providing you with friendly service, a welcoming atmosphere, and above all else, excellent products made with the highest quality ingredients. If you are not satisfied, please let us know and we will do whatever we can to make things right!</p>
          </div>
        </div>
      </div>
    </div>
  </section>
   

  

{% endblock %}