{% extends 'base.html' %}
{% block content %}

<section class="page-section">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex ml-auto rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">Apostle & pastor(Mrs) </span>
              <span class="section-heading-lower">Isaac &amp; Deborah Kadiri</span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="https://scontent-arn2-2.xx.fbcdn.net/v/t1.0-9/117173535_10222754626595350_7363359057522578252_n.jpg?_nc_cat=105&_nc_sid=8bfeb9&_nc_ohc=RXoUM-rh428AX_ec9an&_nc_ht=scontent-arn2-2.xx&oh=aed97b69947aecf8b4e48a36b56bb2ff&oe=5F51B421" alt="">
        <div class="product-item-description d-flex mr-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">Visit us at Benin City Parish, Global Fire Center located at K.M.4 Upper Ekenwan Road, By Hambeck Education Center, Ugbiyoko, Benin City </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex mr-auto rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">Pastor &amp; Mrs  </span>
              <span class="section-heading-lower">Robert Ransom</span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/81355668_3356942104376511_1268021865020915712_n.jpg?_nc_cat=110&_nc_sid=730e14&_nc_ohc=qdtXpZZHIgYAX-YwwDa&_nc_ht=scontent-arn2-1.xx&oh=5730cb7e5e53f9a07ce158e848cfe66d&oe=5F51007C" alt="">
        <div class="product-item-description d-flex ml-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">Our seasonal menu features delicious snacks, baked goods, and even full meals perfect for breakfast or lunchtime. We source our ingredients from local, oragnic farms whenever possible, alongside premium vendors for specialty goods.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex ml-auto rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">Pastor &amp; (Mrs)</span>
              <span class="section-heading-lower">Owumi E Eric</span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/92554159_3753600264710691_4498863755911757824_n.jpg?_nc_cat=102&_nc_sid=8bfeb9&_nc_ohc=EeO65MCC058AX8I7DSl&_nc_ht=scontent-arn2-1.xx&oh=334a8147f865fb1344b04bb38f6a35eb&oe=5F500B0F" alt="">
        <div class="product-item-description d-flex mr-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">Travelling the world for the very best quality coffee is something take pride in. When you visit us, you'll always find new blends from around the world, mainly from regions in Central and South America. We sell our blends in smaller to large bulk quantities. Please visit us in person for more details.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}